:root {
  --main-color: #76c7c0;
  --theme-color: #e8645a;
  --bg-color: #f3f3f3;
  --dark-color: #f8f8f8;
  --light-color: #ffffff;
  --directory-color: #ececec;
  --dark-text-color: #7f8c8c;
  --paragraph-text-color: #777777;
  --shadow-color: #e5e6e6;
  --list-color-warm: #e1524b;
  --list-color-cold: #62b9b0;
}
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.bold {
  font-weight: bold;
}

/**********************Shortcuts***********************/
.uppercase {
  text-transform: uppercase;
}
/*************************Header*********************************/
.shell {
  width: 1500px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header {
  z-index: 2;
  width: 1500px;
  position: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 160px;
}
.navigation {
  background-color: var(--main-color);
  height: 80px;
  padding: 0;
  padding-left: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.path {
  position: absolute;
  top: 70px;
  left: 0;
}
.logo {
  color: var(--light-color);
  display: flex;
  align-items: flex-end;
}
.modus {
  font-size: 30pt;
}
.versus {
  font-size: 25pt;
}
nav ul {
  display: flex;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
li {
  list-style: none;
  padding-top: 10px;
}
.navigation ul li:last-child {
  padding-top: 0;
}
li a {
  color: var(--light-color);
  text-decoration: none;
  padding: 0 15px;
  font-size: 13pt;
}
.dropdown-content {
  display: none;
}
.dropdown:hover .dropdown-content {
  background-color: orange;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.search {
  display: block;
  margin-top: 0px;
  margin-left: 130px;
  z-index: 2;
  padding-right: 0;
}
.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  right: 165px;
  margin-left: 50px;
}
.search-box {
  display: none;
  position: absolute;
  border: #e8645a solid 5px;
  border-radius: 5px;
  top: 35px;
  z-index: 2;
  margin-top: 15px;
}
.search-box input {
  height: 30px;
  width: 200px;
}
.search-box::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e8645a;
  border-top: 5px solid transparent;
}

.fa-search {
  background-color: var(--theme-color);
  box-shadow: 0 5px #e2534b;
  padding: 10px;
  position: relative;
  margin: 0 0 0 15px;
  border-radius: 5px;
  color: var(--light-color);
  border-style: none;
  text-decoration: none;
}
.search:hover .search-box {
  position: absolute;
  display: flex;
  right: 160px;
}
.current-directory {
  background-color: var(--directory-color);
  color: var(--dark-text-color);
  height: 80px;
  padding: 0 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.directory {
  display: flex;
  align-items: flex-end;
}
.page-name {
  font-size: 20pt;
}
.directory a {
  text-decoration: none;
  color: var(--dark-text-color);
  font-size: 12pt;
}
.directory a::after {
  content: "/";
  padding-left: 5px;
  padding-right: 5px;
}
.directory a:last-child::after {
  content: "";
}
/********************Body*********************/
.body-shell {
  background-color: var(--bg-color);
  padding: 210px 165px;
  padding-bottom: 100px;
}
/*********************Large Gallery********************/
.gallery {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.large-gallery-box {
  width: 1170px;
  height: 700px;
}
.gallery .move-buttons,
.gallery .image {
  position: absolute;
}
.small-image,
.medium-image,
.large-image {
  display: block;
}
.move-buttons {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.move-buttons a {
  border: none;
  padding: 20px 15px;
  color: var(--light-color);
  font-size: 23px;
  background-color: var(--theme-color);
}
.left-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.right-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.image-selector {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  justify-content: center;
}
.selector {
  margin: 0 5px;
  height: 5px;
  width: 60px;
  background: var(--dark-text-color);
}
.active,
.selector:hover {
  background-color: #717171;
}
.medium-gallery-box {
  width: 870px;
  height: 560px;
}
.medium-gallery-box-width {
  width: 870px;
}
.large-gallery-box-width {
  width: 1170px;
}
.small-gallery-box-width {
  align-items: center;
  width: 270px;
  padding: 25px 0;
}
.small-gallery-box-width .selector {
  width: 30px;
}
.small-gallery-box {
  width: 270px;
  height: 200px;
}
.album {
  margin: 0;
  padding: 0;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album img {
  padding: 12.5px 0;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
}
.sidebar-title {
  text-align: left;
  color: var(--dark-text-color);
  font-weight: bold;
}

/****************Fa articles*****************/
.articles {
  display: flex;
  margin: 40px 0;
  width: 1170px;
}
.articles .fas,
.articles .fab,
.articles .far {
  font-size: 60pt;
  color: var(--main-color);
}
.articles .far {
  color: var(--theme-color);
}
.article-title {
  font-size: 16pt;
  color: var(--dark-text-color);
  font-weight: bold;
  margin: 15px auto;
  margin-bottom: 20px;
}
.article-container {
  background-color: var(--dark-color);
  padding: 50px 0px;
  height: 310px;
  margin: auto 20px;
  width: 270px;
  box-shadow: 0 5px var(--shadow-color);
}
.article-container:first-child {
  margin-left: 0;
}
.article-container:last-child {
  margin-right: 0;
}
.article-text {
  padding: 20px;
  color: var(--paragraph-text-color);
}
.btn-position {
  top: 55px;
  position: relative;
  z-index: 1;
}
.btn {
  height: 55px;
  width: 200px;
  border: none;
  background-color: var(--main-color);
  border-radius: 5px;
  font-size: 14pt;
  color: var(--light-color);
}
.article-container .theme-button {
  background-color: var(--theme-color);
}
/***********************Accordion articles*****************************/
.accordion-tab-articles {
  block-size: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0;
  text-align: left;
  width: 1170px;
}
.large {
  width: 870px;
}
.small {
  width: 270px;
}
.accordion {
  display: flex;
  flex-direction: column;
}
.accordion a {
  background-color: var(--dark-color);
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-text-color);
  font-size: 16pt;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-text {
  margin: 0;
  font-size: 13pt;
  color: var(--paragraph-text-color);
  padding: 20px;
  background-color: var(--light-color);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.tab-container {
  padding: 0;
  margin: 0;
}
.accordion p {
  display: none;
}
.accordion p:target {
  display: block;
}
.accordion a p:target {
  border-radius: 0;
}
/*************************Tabs**********************/

ul.tab-container li.current {
  background-color: var(--dark-color);
  color: var(--paragraph-text-color);
}
.paragraph {
  display: none;
}
.current {
  display: flex;
}
.current-small {
  display: block;
}

.paragraph-content {
  display: flex;
  flex-direction: row;
  height: 170px;
  padding-top: 0;
  align-items: center;
}
.paragraph img {
  height: 100px;
  width: 170px;
  align-self: center;
}
.tab-container {
  display: flex;
  margin-left: 0;
  background-color: ;
}
.tab {
  border: none;
  padding: 15px 15px;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--main-color);
  font-weight: bolder;
  font-size: 16pt;
  margin-right: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: grab;
}
.tab:nth-child(3) {
  background-color: var(--theme-color);
}
.tab:first-child {
  margin-left: 0;
}
/***************************Images*************/
.image-link {
  display: flex;
  position: relative;
}
.page-images {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.link-box {
  display: none;
  position: absolute;
  float: left;
  background-color: var(--main-color);
  text-decoration: none;
  color: var(--light-color);
}
.links {
  margin: 0;
}
.link-box i {
  background-color: #76b7b1;
  padding: 10px;
  margin-top: 115px;
  border-radius: 5px;
}
.link-box i:hover {
  background-color: var(--theme-color);
  cursor: grab;
}
.link-box p {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 20px;
}
.small-img {
  height: 270px;
  width: 270px;
}
.large-img {
  width: 570px;
  height: 270px;
}
/*********************info grid***********************/
.info-grid-container {
  margin: 50px 0;
  border-bottom: 5px solid var(--shadow-color);
  border-top: 5px solid var(--shadow-color);
}
.line-container {
  margin: 50px 0;
  text-align: left;
}
.info-title {
  color: var(--dark-text-color);
  font-size: 16pt;
  padding-bottom: 10px;
}
.text-box {
  font-size: 14pt;
  color: var(--dark-text-color);
}
.line-container {
  display: flex;
  justify-content: space-between;
}
.line-box:last-child {
  margin-right: 0;
}
/*************************Lists********************/
.lists-container {
  margin-top: 0;
  width: 1200px;
  border-bottom: 5px solid var(--shadow-color);
  padding-bottom: 30px;
}
.list ul li .fas {
  color: var(--list-color-warm);
}
.list ul li .blue {
  color: var(--list-color-cold);
}
.list ul {
  font-size: 14pt;
  margin-left: 0px;
  padding: 20px 5px;
}
.font-smaller li {
  font-size: 13pt;
}
.list ul li {
  padding: 5px 0;
}
/******************View more*********************/
.view-more {
  width: 1140px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
  background-color: var(--directory-color);
  margin-bottom: 60px;
}
.view-more-btn {
  background-color: var(--list-color-warm);
  margin: auto;
  margin-right: 0;
}

/*****************Tables************************/

table {
  background-color: var(--dark-color);
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px var(--shadow-color);
}
td,
th {
  border: 1px solid var(--shadow-color);
  border-bottom: none;
  padding: 10px;
  text-align: left;
  color: var(--paragraph-text-color);
  font-size: 14pt;
}
th:first-child,
td:first-child {
  border-left: none;
  border-top-left-radius: 10px;
}
th:last-child,
td:last-child {
  border-right: none;
  border-top-right-radius: 10px;
}

th {
  border-top: none;
  background-color: var(--directory-color);
}
.tables {
  margin-top: 40px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table {
  width: 570px;
}
.red-table th {
  color: var(--directory-color);
  font-weight: bold;
  background-color: #e2534b;
}
.blue-table th {
  color: var(--directory-color);
  background-color: #62b9b0;
}
/***********************footer***********************/
footer {
  margin-top: 0;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
}
.footer-container {
  margin-bottom: 50px;
  position: relative;
}
.footer-container p {
  padding: 10px 0;
}
.blog-container {
  margin-top: 20px;
}
.text p {
  padding: 0 10px;
}
.site-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--light-color);
  text-align: left;
  padding: 10px 165px;
}
.footer-photos img {
  height: 70px;
  width: 70px;
}
.footer-photos {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.copyrights {
  background-color: #6ab3ac;
}
.side-container {
  width: 370px;
}
.text {
  display: flex;
  flex-direction: column;
}
.footer-photos .date {
  margin-top: 5px;
  color: #3b6360;
}
.footer-title {
  font-weight: bold;
  color: #3b6360;
  font-size: 20pt;
  margin-bottom: 10px;
}
.footer-title-blog {
  font-style: italic;
  font-size: 20pt;
}

span {
  font-style: normal;
  font-weight: bold;
  font-size: 20pt;
}
.inner-container {
  margin-top: 10px;
}
.inner-container ul li {
  padding: 5px;
}
.copyrights {
  padding: 20px 165px;
  color: var(--light-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social i {
  font-size: 20pt;
  padding: 0 10px;
}
